<div id="userDetails">
  {{error}}
  <h2>{{user.name}}</h2>
  <img ng-src="{{user.avatar_url}}" title="{{user.name}}" ng-class="{'userprofileimage': userProfileImage}" /> Order:
  <select ng-model="selectedSort">
    <option value="+name">Name ASC</option>
    <option value="-stargazers_count">Stars ASC</option>
    <option value="+language">Language ASC</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <!--<tr ng-repeat="repo in repos | orderBy:'-stargazers_count' | limitTo:10">-->
    <tr ng-repeat="repo in repos | orderBy:selectedSort">
      <td>
        <a href="#/repo/{{user.login}}/{{repo.name}}">
          /repo/{{user.login}}/{{repo.name}}
        </a>
      </td>
      <td>{{repo.stargazers_count | number}}</td>
      <td>{{repo.language}}</td>
    </tr>
  </tbody>
</table>

<a href="#/main">Back to search</a>